<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul class="nav-bar">
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
    </ul>
    <img src="/images/Node.js_logo.svg" width="400" alt="NodeLogo">
    <p>Este es el index de la app</p>
    <p class="parrafo-especial">
      Lorem ipsum dolor, <strong> texto en negritas</strong>. Vero pariatur culpa optio, voluptatibus mollitia corporis sed cumque earum nulla quo numquam, natus quisquam quidem voluptatem consequatur. Quod itaque voluptatem recusandae.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic obcaecati eveniet sed tenetur provident id recusandae dolorem maiores incidunt asperiores architecto possimus repellendus, laborum laudantium accusamus assumenda impedit cum vitae.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident pariatur fuga ratione quam qui debitis est labore perferendis, aperiam, non praesentium. Odit, perspiciatis provident. Deleniti, alias nobis. Ex, similique fugit.</p>
    <script src="/javascripts/js-front.js"></script>
  </body>
</html>
